<app-nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 pt-2 ms-auto" style="width: 200px">
        <app-card-margem></app-card-margem>
      </div>
      <div class="col-lg-3 pt-2" style="height: 50px ;">
        <app-card-date-shop></app-card-date-shop>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-4 pt-4">
        <app-chart-quantidade-item></app-chart-quantidade-item>
      </div>
      <div class="col-lg-4 pt-4">
        <app-chart-quantidade-produto></app-chart-quantidade-produto>
      </div>
      <div class="col-lg-4 pt-4">
        <app-chart-quantidade-venda-item></app-chart-quantidade-venda-item>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-12 pt-4">
        <app-data-table-curva-abc></app-data-table-curva-abc>
      </div>
    </div>
  </div>
</app-nav>

