 <app-nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 pt-2 ms-auto" style="width: 200px;">
        <app-card-margem></app-card-margem>
      </div>
      <div class="col-lg-3 pt-2">
        <app-card-date-shop></app-card-date-shop>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 pt-4">
        <app-card-info-verba-disponivel></app-card-info-verba-disponivel>
      </div>
      <div class="col-lg-3 pt-4">
        <app-card-verba-total></app-card-verba-total>
      </div>
      <div class="col-lg-3 pt-4">
        <app-card-verba-utilizada></app-card-verba-utilizada>
      </div>
      <div class="col-lg-3 pt-4">
        <app-card-previsao-venda></app-card-previsao-venda>
      </div>
    </div>
      <div class="container-fluid pt-4">
        <div class="row">
          <div class="col-lg-4">
            <app-chart-faturamento></app-chart-faturamento>
          </div>
          <div class="col-lg-4">
            <app-chart-verba></app-chart-verba>
          </div>
          <div class="col-lg-4">
            <app-chart-termometro></app-chart-termometro>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-lg-4">
            <app-data-table-margem-setor></app-data-table-margem-setor>
          </div>
          <div class="col-lg-8">
            <app-chart-verba-diaria></app-chart-verba-diaria>
          </div>
        </div>
      </div>
  </div>

 </app-nav>
 